<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>

<body>
     <% include ./nav %>
    <main class="form">
        <div class="form-wrapper">
            <form action="/login" method="POST" class="form">
            <label class="form-label form-control" for="name">Log in</label>
                <div class="form-group">
                    
                    <input type="text" class="form-control textbox" name="name" id="name" placeholder="Name" required>
                </div>
                <label class="form-label form-control" for="password">Password</label>
                <div class="form-group">
                    
                    <input type="password" class="form-control textbox" name="password" id="password" placeholder="password" required>
                </div>
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </form>
        </div>
    </main>
</body>

</html>