<nav class="nav">
    <ul class="nav-list">
        <li class="nav-list__item"><a href="/tweets">Your Tweets</a></li>
        <li class="nav-list__item"><a href="/">Add Tweet</a></li>

    </ul>

</nav>
<div class="background"></div>