<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Overview</title>
</head>

<body>
    <% include ./nav %>
    <% if(tweets) { %>
    <main class="main">
        
          <% tweets.map((tweet, index) => { %>
          
          <div class="tweet-post">

            <p class="tweet-message">
            <%= tweet.message %>
            </p>
            <% if(isLoggedIn){ %> 
            <div class="delete-post">
              <a href="/delete/<%= tweet._id %>" class="delete-btn">Delete</a>
          </div>
            <% } %>
            
          </div>
          <small class="tweet-date"><%= tweet.time %></small>
          <% }) %>
        
    </main>
    <% }else{ %>
        <h1 class="error">
        Nothing here yet
        </h1>
        <% } %>
</body>

</html>